# archivos grandes o inútiles en producción
node_modules
npm-debug.log
yarn-error.log


# control de versiones
.git
.gitignore

# tests y docs
tests
coverage
*.md

# salidas de build que se regeneran
dist
build
.tmp

# entornos locales
.env
.env.*
